# Exploratory Data Analysis

In [95]:
# importing data manipulation packages
import pandas as pd
import numpy as np

In [96]:
# importing raw data
df = pd.read_csv("Raw_Data.csv")
# previewing the first 5 rows of the dataset
df.head()

,Year,Facility Id,Facility Name,APR DRG Code,APR Severity of Illness Code,APR DRG Description,APR Severity of Illness Description,APR Medical Surgical Code,APR Medical Surgical Description,Discharges,Mean Charge,Median Charge,Mean Cost,Median Cost
0,2016,4,Albany Memorial Hospital,194,1,Heart Failure,Minor,M,Medical,2,"8,375.41","8,375.41","3,585.05","3,585.05"
1,2016,4,Albany Memorial Hospital,194,2,Heart Failure,Moderate,M,Medical,40,"14,029.82","12,176.95","6,182.67","5,253.15"
2,2016,4,Albany Memorial Hospital,194,3,Heart Failure,Major,M,Medical,70,"23,921.77","20,229.81","11,149.49","9,068.10"
3,2016,4,Albany Memorial Hospital,194,4,Heart Failure,Extreme,M,Medical,12,"51,260.45","35,210.82","26,081.70","15,230.62"
4,2016,4,Albany Memorial Hospital,196,4,Cardiac Arrest,Extreme,M,Medical,1,"25,357.84","25,357.84","7,791.75","7,791.75"

# Data Completing

In [97]:
# checking for missing values
df.isnull().sum()

Year                                     0
Facility Id                              0
Facility Name                            0
APR DRG Code                             0
APR Severity of Illness Code             0
APR DRG Description                      0
APR Severity of Illness Description    210
APR Medical Surgical Code              479
APR Medical Surgical Description         0
Discharges                               0
Mean Charge                              0
Median Charge                            0
Mean Cost                                0
Median Cost                              0
dtype: int64

ways to complete dataframe: 
"APR Severity of Illness Description" is specific to "APR Severity of Illness Code",which is completed;
"APR Medical Surgical Code" is specific to "APR Medical Surgical Description", which is completed.

In [98]:
# showing the distinguishing values in the "APR Severity of Illness Code" column 
df["APR Severity of Illness Code"].unique()

array([1, 2, 3, 4, 0])

In [99]:
# find the link between the "APR Severity of Illness Code" and "APR Severity of Illness Description" columns
for i in range(0,5):
    print(i, df[df["APR Severity of Illness Code"] == i]["APR Severity of Illness Description"].unique())

0 ['Not Applicable' nan]
1 ['Minor']
2 ['Moderate']
3 ['Major']
4 ['Extreme']

The Null in "APR Severity of Illness Description" can be replaced by "Not Applicable" under the same APR Severity Code "0"

In [100]:
# completing the missing values in the "APR Severity of Illness Description" column
df.loc[df["APR Severity of Illness Description"].isnull(), "APR Severity of Illness Description"] = "Not Applicable"

In [101]:
# showing the distinguishing values in the "APR Medical Surgical Description" column
df["APR Medical Surgical Description"].unique()

array(['Medical', 'Surgical', 'Other'], dtype=object)

In [102]:
# find the link between the "APR Severity of Illness Code" and "APR Severity of Illness Description" columns
for i in ['Medical', 'Surgical', 'Other']:
    print(i, df[df["APR Medical Surgical Description"] == i]["APR Medical Surgical Code"].unique())

Medical ['M']
Surgical ['P']
Other [nan 'U']

The Null in "APR Medical Surgical Code" can be replaced by "U" under the same APR Medical Surgical Description 'U'

In [103]:
# showing the rows with missing values in the "APR Medical Surgical Code" column
df.loc[df["APR Medical Surgical Code"].isnull(), "APR Medical Surgical Code"] = "U"

In [104]:
# Re-checking for missing values
df.isnull().sum()

Year                                   0
Facility Id                            0
Facility Name                          0
APR DRG Code                           0
APR Severity of Illness Code           0
APR DRG Description                    0
APR Severity of Illness Description    0
APR Medical Surgical Code              0
APR Medical Surgical Description       0
Discharges                             0
Mean Charge                            0
Median Charge                          0
Mean Cost                              0
Median Cost                            0
dtype: int64

In [105]:
# looking for duplicates
df.duplicated().any()

np.False_

# Data Conversion

In [106]:
# summarizing the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1192827 entries, 0 to 1192826
Data columns (total 14 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   Year                                 1192827 non-null  int64
 1   Facility Id                          1192827 non-null  int64
 2   Facility Name                        1192827 non-null  object
 3   APR DRG Code                         1192827 non-null  int64
 4   APR Severity of Illness Code         1192827 non-null  int64
 5   APR DRG Description                  1192827 non-null  object
 6   APR Severity of Illness Description  1192827 non-null  object
 7   APR Medical Surgical Code            1192827 non-null  object
 8   APR Medical Surgical Description     1192827 non-null  object
 9   Discharges                           1192827 non-null  object
 10  Mean Charge                          1192827 non-null  object
 11  Median Charge                        1192827 non-null  object
 12  Mean Cost                            1192827 non-null  object
 13  Median Cost                          1192827 non-null  object
dtypes: int64(4), object(10)
memory usage: 127.4+ MB

Results shows that columns "Discharges", "Mean Charge", "Median Charge", "Mean Cost" and "Median Cost" are of type "object" instead of "int" or "float".
Convert these columns to numeric types for future ML prediction.

In [107]:
# Converting the "Discharges" column to int
pre_cols = ["Discharges", "Mean Charge", "Median Charge", "Mean Cost", "Median Cost"]
for col in pre_cols:
    df[col] = df[col].str.replace(",", "") # Removing commas from the string
    df[col] = pd.to_numeric(df[col], errors='coerce') # If errors = ‘coerce’, then invalid parsing will be set as NaN.

In [108]:
# check the coversion results
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1192827 entries, 0 to 1192826
Data columns (total 14 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   Year                                 1192827 non-null  int64
 1   Facility Id                          1192827 non-null  int64
 2   Facility Name                        1192827 non-null  object
 3   APR DRG Code                         1192827 non-null  int64
 4   APR Severity of Illness Code         1192827 non-null  int64
 5   APR DRG Description                  1192827 non-null  object
 6   APR Severity of Illness Description  1192827 non-null  object
 7   APR Medical Surgical Code            1192827 non-null  object
 8   APR Medical Surgical Description     1192827 non-null  object
 9   Discharges                           1192827 non-null  int64
 10  Mean Charge                          1192827 non-null  float64
 11  Median Charge                        1192827 non-null  float64
 12  Mean Cost                            1192827 non-null  float64
 13  Median Cost                          1192827 non-null  float64
dtypes: float64(4), int64(5), object(5)
memory usage: 127.4+ MB

In [109]:
# Checking for missing values after conversion
df.isnull().sum()

Year                                   0
Facility Id                            0
Facility Name                          0
APR DRG Code                           0
APR Severity of Illness Code           0
APR DRG Description                    0
APR Severity of Illness Description    0
APR Medical Surgical Code              0
APR Medical Surgical Description       0
Discharges                             0
Mean Charge                            0
Median Charge                          0
Mean Cost                              0
Median Cost                            0
dtype: int64

In [110]:
df.to_csv("Refined_Data.csv", index = False)